.paged_cont {
    position: relative;
    right: 20px;
}

.boton_paged {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    font-family: cursive;
    background-color: #00000076;
    color: #fff;
    border: none;
    width: 32px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 7px;
    cursor: pointer;
}

.boton_paged:hover {
    background-color: #f5f3f3;
    color: #000;
    box-shadow: 0 0 10px 0 #00000090;
}

.boton_paged:focus, .boton_paged:active {
    outline: 2px solid #daa520;
    background-color: #e7bf59dc;
    color: #000;
    box-shadow: 0 0 10px 0 #00000090;
}