.STT_btn {
    /* position: relative; */
    background: #00ff40;
    color: #fff;
    color: #000;
    height: 32px;
    width: 32px;
    margin: 20px;
    margin-bottom: 30px;
    border: 3px groove #00ff40;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #333;
    cursor: pointer;
    /* left: 520px; */
    animation: bounce 0.3s alternate ease infinite; 
}

@keyframes bounce {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-3px);
    }
}
