.STT_btn {
    position: relative;
    top: -60px;
    left: 490px; 
    z-index: 101;
    background: #daa520;
    color: #fff;
    color: #000;
    height: 34px;
    width: 34px;
    margin: 20px;
    margin-bottom: 30px;
    border: 3px groove #daa520;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #333;
    cursor: pointer;
    animation: bounce 0.2s alternate ease infinite; 
}

@keyframes bounce {
    from {
        transform: translateY(8px);
    }
    to {
        transform: translateY(-4px);
    }
}
