.sb_cont {
    clip-path: polygon(0% 15%, 32% 15%, 32% 0, 68% 0, 68% 15%, 100% 15%, 100% 85%, 68% 85%, 68% 100%, 32% 100%, 32% 85%, 0% 85%);
    background: #00000030;
    margin: 10px;
}

.input {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    background: transparent;
    border: none;
    margin: 20px auto;
    padding: 5px;
    width: 250px;
    border-bottom: 3px solid #e7a700;
    outline: none;
}

.input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.btn {
    border: none;
    padding: 5px;
    background: transparent;
    border-bottom: 3px solid #daa520;
    cursor: pointer;
    outline: none;
    color: #000;
}