.card_card {
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: 250px;
    height: 340px;
    margin: 28px;
    transition: border .5s;
    cursor: pointer;
    background: #00000030;
    transition: background-color 1s;
    border: none;
    outline: 3px solid #fff;
    transform: scale(90%);
}

.card_card:hover {
    outline: 4px solid #daa520;
    background: linear-gradient(43deg, #00000010, #daa52093);
    box-shadow: 0 0 20px 0 #111;
    animation: move 3s alternate ease-in-out infinite; 
}

@keyframes move {
    from {
        transform: scale(90%);
    }
    to {
        transform: scale(94%) rotate(6deg);
    }
}

.card_name_i, .card_name {
    color: #000;
    font-size: 17.6px;
    text-decoration: none;
}

.card_img {
    /* clip-path: polygon(22% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 100% 89%, 50% 100%, 0% 50%); */
    position: relative;
    top: 9%;
    outline: 5px solid #fff;
    border-radius: 50%;
    height: 150px;
}

.card_dt {
    margin-top: 40px;
    font-weight: 400;
}

.card_dts {
    font-size: 9px;
    font-style: italic;
}

/* .btn_delete {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 18.6em;
    position: absolute;
    bottom: -.7em;
    transform: scale(130%);
} */